/* Hide scrollbar for Chrome, Safari and Opera */
.card::-webkit-scrollbar {
    display: none !important;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .card {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }
.full-width{
    min-height: 100dvh !important;
}
.card{
    min-height: 75vh;
    max-height: 75vh;
    overflow-y: scroll;
    margin-top: 5rem;
}
input {
    outline: none !important;
    border: none;
}
.button{
    width: 10% !important;
}
.text-width{
    max-width: 75% !important;
    width: fit-content;
}
.user-text{
    background-color:rgba(19, 46, 28, 0.845);
}