/* Hide scrollbar for Chrome, Safari and Opera */
.chat-messages::-webkit-scrollbar {
    display: none !important;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.chat-messages {
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.full-width {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #075E54;
}

.chat-body {
    flex-grow: 0.5;
    overflow-y: auto;
}

.chat-messages {
    min-height: 75vh;
    max-height: 75vh;
    overflow-y: scroll;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-input {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

input {
    outline: none !important;
    border: none;
}

button {
    width: 10% !important;
}

.message {
    display: flex;
}

.user-message {
    justify-content: flex-end;
}

.bot-message {
    justify-content: flex-start;
}

.message-bubble {
    max-width: 60%;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    background-color: #dcf8c6; /* Light green */
}

.user-message .message-bubble {
    background-color: #34B7F1; /* Light blue */
    color: white;
}
.brand{
    font-family: cursive;
}
@media  (min-width:900px) {
    
    .chat-body{
        width: 70%;
        margin: 0 auto;
    }
}